
<center>

   <h1>Answers</h1>

</center>

 

<div class="container">

 

   <table class="table table-striped" id="mytable">

     <thead>

       <tr>

         <th>Answer</th>

           
       </tr>

     </thead>

     <tbody>

       {{#each reportsurveyinstanceanswers}}

       <tr>

        <td> {{ answer }} </td> 
                       

       </tr>

       {{/each}}

     </tbody>

   </table>

</div>